.jumbotron {
    background-color: #f8f9fa;
    padding: 4rem 2rem;
  }
  .h1 {
    font-weight: bold;
  }
  .lead {
    font-size: 1.25rem;
    color: #777;
  }
  #contact-form {
    margin-top: 4rem;
  }